# **ìœ¤ìŠ¬ì˜ ì”ë¬¼ê²°âœ¨**



[[ìœ¤ìŠ¬ğŸŒŠ] í‡´ê·¼ì‹œê°„ ë²„ìŠ¤ìŠ¹ì°¨ì¸ì› ì˜ˆì¸¡ ê²½ì§„ëŒ€íšŒ Stage 1: ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°](https://dacon.io/competitions/official/236047/codeshare/7455?page=1&dtype=random)

<br/>
<div style="text-align: right"> 23-01-27 | ver.002 </div>

---


ì§€ë‚œ í¬ìŠ¤íŒ…ì—ì„œ â€˜pandasâ€™ ì™€ â€˜numpyâ€™ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ í˜¸ì¶œí•˜ì—¬ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ê³  ì‚´í´ë³´ëŠ” ì‹œê°„ì„ ê°€ì¡ŒìŠµë‹ˆë‹¤.

</br>ë°ì´í„° ë¶„ì„ì„ ìœ„í•´ ê°€ì¥ ë¨¼ì € í•´ì•¼í•  ì¼ì´ ë­˜ê¹Œìš”?

ë°”ë¡œ ì‚¬ìš©í•˜ê³ ì í•˜ëŠ” íŒ¨í‚¤ì§€ë¥¼ ì„¤ì¹˜í•˜ê³  ë¶ˆëŸ¬ì™€ì•¼ í•©ë‹ˆë‹¤.
</br>ê·¸ë˜ì„œ Stage1ì—ì„œ â€˜importâ€™ ëª…ë ¹ì–´ë¥¼ ì‚¬ìš©í•˜ì—¬ pandasì™€ numpy íŒ¨í‚¤ì§€ë¥¼ í˜¸ì¶œí–ˆì—ˆìŠµë‹ˆë‹¤.

In [69]:
import pandas as pd
import numpy as np

ê·¸ ë‹¤ìŒ, pandasì—ì„œ ì œê³µí•˜ëŠ” read_csv() ë©”ì†Œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ì•ìœ¼ë¡œ ë‹¤ë£° ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì™”ìŠµë‹ˆë‹¤.

In [71]:
train = pd.read_csv('train.csv' ,index_col=0)
test = pd.read_csv('test.csv', index_col=0)
submission = pd.read_csv('submission_sample.csv', index_col=0)

info() ë©”ì†Œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„° ê²°ì¸¡ì¹˜ ë° ë³€ìˆ˜ë“¤ì˜ íƒ€ì…ì„ í™•ì¸í–ˆë˜ ê²ƒì´ ê¸°ì–µë‚˜ì‹œë‚˜ìš”?

![image](https://ifh.cc/g/Vx1CJf.jpg)


1. <font style="color:#FF9999; font-weight : bold; font-size : 25px;">Non-Null Count</font>ë¥¼ ë³´ê³  trainê³¼ testë°ì´í„° ëª¨ë‘ ê²°ì¸¡ì¹˜ê°€ ì—†ë‹¤ëŠ” ê²ƒì„ í™•ì¸í–ˆìŠµë‹ˆë‹¤.
2. <font style="color:#FFCC00; font-weight : bold; font-size : 25px;">Dtype</font>ì„ ë³´ê³  ê° columnì˜ ë°ì´í„° ìœ í˜•ì´ ë¬¸ìí˜•ì¸ì§€ ìˆ˜ì¹˜í˜•ì¸ì§€ ì•Œ ìˆ˜ ìˆì—ˆìŠµë‹ˆë‹¤.
3. test ë°ì´í„°ì—ëŠ” trainë°ì´í„°ì™€ ë‹¬ë¦¬ <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">â€˜18-20_rideâ€™</font> ì—´ì´ ì—†ìŠµë‹ˆë‹¤. 
</br>ì¦‰, â€˜18-20_rideâ€™(í‡´ê·¼ì‹œê°„ ë²„ìŠ¤ìŠ¹ì°¨ì¸ì›)ì„ ì˜ˆì¸¡í•˜ëŠ” ë¬¸ì œì¸ ê²ƒì„ í™•ì¸í–ˆìŠµë‹ˆë‹¤.

</br>ê·¸ë¦¬ê³  numpyì—ì„œ ì œê³µí•˜ëŠ” shape() ë©”ì†Œë“œë¥¼ ì‚¬ìš©í•˜ì—¬
í•´ë‹¹ ë°ì´í„° ì°¨ì›ì„ í™•ì¸í–ˆì—ˆìŠµë‹ˆë‹¤.

![image](https://ifh.cc/g/MnC8OW.jpg)

train ë°ì´í„°ëŠ” 415423 x 20 ì˜ ë°°ì—´ í˜•íƒœë¥¼,
</br>test ë°ì´í„°ëŠ” 228170 x 19 ì˜ ë°°ì—´ í˜•íƒœë¼ëŠ” ê²ƒì„ í™•ì¸í–ˆìŠµë‹ˆë‹¤.

</br>Stage1ì—ì„œ ë°ì´í„° ì •ë³´ë¥¼ í™•ì¸í–ˆìœ¼ë‹ˆ Stage2ì—ì„œ ì „ì²˜ë¦¬ì™€ ëª¨ë¸ë§ì„ í•´ë³´ê² ìŠµë‹ˆë‹¤!
</br>ëª¨ë‘ ì¤€ë¹„ëë‚˜ìš”?

</br>ê·¸ë ‡ë‹¤ë©´, ì¶œë°œğŸŒŠ  

---

# **ê°œë… ì•Œì•„ê°€ê¸°**
## **â­ ë°ì´í„° ë¶„ì„ì„ ìœ„í•œ ì¤‘ìš” ê°œë…**

ë°ì´í„° ë¶„ì„ì„ ìœ„í•œ ì¤‘ìš” ê°œë…ë“¤ì„ ëª‡ ê°€ì§€ ì§šê³  ë„˜ì–´ê°€ê² ìŠµë‹ˆë‹¤.
- Index vs Feature vs Target
- Numeric Data vs Categorical Data
- Regression vs Classification

</br>

## **Feature vs Target**

ë¨¸ì‹ ëŸ¬ë‹ ë°ì´í„°ì…‹ì€ <font style="color:#FF9999; font-weight : bold; font-size : 25px;">ì¸ë±ìŠ¤(index)</font>, <font style="color:#FFCC00; font-weight : bold; font-size : 25px;">íŠ¹ì„±(feature)</font>, <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">ëŒ€ìƒ(target)</font>ìœ¼ë¡œ ì´ë£¨ì–´ì ¸ ìˆìŠµë‹ˆë‹¤.
</br> ì¸ë±ìŠ¤(index): ì‹ë³„ì ë³€ìˆ˜
* ì¦‰, ìƒ˜í”Œ ì´ë¦„/ID
íŠ¹ì„±(feature): ì˜ˆì¸¡ì„ ìœ„í•´ í™œìš©ë˜ëŠ” ë°ì´í„°
* ë…ë¦½ë³€ìˆ˜ Xë¼ê³ ë„ í•¨
ëŒ€ìƒ(target): ì˜ˆì¸¡í•˜ê³ ì í•˜ëŠ” ëŒ€ìƒ
* ì¢…ì†ë³€ìˆ˜ yë¼ê³ ë„ í•¨

![image](https://ifh.cc/g/yq1JKb.jpg)

</br>

## **Numerical Data vs Categorical Data**
</br><font style="color : #666666; font-weight : bold; font-size : 25px;">Numerical Data</font>: ìˆ˜ì¹˜í˜• ìë£Œ, ìˆ«ìë¡œ ì¸¡ì •í•  ìˆ˜ ìˆëŠ” ìë£Œ
* ex) ê¸°ì˜¨, í’ì†, ì²´ì¤‘ ë“±

<font style="color : #666666; font-weight : bold; font-size : 25px;">Categorical Data</font>: ë²”ì£¼í˜• ìë£Œ, ìˆ«ìë¡œ ì¸¡ì •í•  ìˆ˜ ì—†ëŠ” ìë£Œ
* ex) ë‚ ì”¨, í˜ˆì•¡í˜•, ì„±ë³„ ë“±

</br>

## **Regression vs Classification**

<font style="color : #6495ED ; font-weight : bold ; font-size : 25px;">"targetì˜ í˜•íƒœ"</font>ì— ë”°ë¼ ë¶„ë¥˜(classification)ë¬¸ì œì¸ì§€ íšŒê·€(regression)ë¬¸ì œì¸ì§€ ë‚˜ë‰©ë‹ˆë‹¤.

</br> <font style="color : #666666; font-weight : bold; font-size : 25px;">Classification</font>: ë¶„ë¥˜
</br> ë²”ì£¼í˜• ë°ì´í„°(categorical data) ì˜ˆì¸¡ì— ì‚¬ìš©
* ex) ì†ê¸€ì”¨ ì´ë¯¸ì§€(feature)ë¥¼ ë³´ê³  ìˆ«ì(target)ë¥¼ ì˜ˆì¸¡í•˜ëŠ” ë¬¸ì œ

</br> <font style="color : #666666; font-weight : bold; font-size : 25px;">Regression</font>: íšŒê·€
</br> ìˆ˜ì¹˜í˜• ë°ì´í„°(numerical data) ì˜ˆì¸¡ì— ì‚¬ìš©
* ex) ì§€ë‚œ 10ì¼ ê°„ì˜ ì£¼ì‹ ê°€ê²©ì„ ë³´ê³  ë‚´ì¼ ì£¼ì‹ì˜ ë“±ë½ì„ ì˜ˆì¸¡í•˜ëŠ” ë¬¸ì œ
</br> 
---

# **ì „ì²˜ë¦¬**



## **ë³€ìˆ˜ ì„ íƒ**
ì•ì—ì„œ ë°ì´í„°ì˜ í˜•íƒœì™€ ë³€ìˆ˜ë“¤ì„ ì‚´í´ë³´ëŠ” ê³¼ì •ì—ì„œ 
</br>ìš°ë¦¬ê°€ ê°€ì§„ ë°ì´í„°ê°€ ë¬¸ìí˜• ë³€ìˆ˜ì™€ ìˆ˜ì¹˜í˜• ë³€ìˆ˜, 2ê°€ì§€ í˜•íƒœë¡œ ì¡´ì¬í•˜ëŠ” ê²ƒì„ í™•ì¸í–ˆìŠµë‹ˆë‹¤. 

</br>ì´ë²ˆ ìŠ¤í…Œì´ì§€ì—ëŠ” <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">"ìˆ˜ì¹˜í˜• ë°ì´í„°"</font>ë§Œ ì‚¬ìš©í•  ì˜ˆì •ì´ë¯€ë¡œ, 
</br>object íƒ€ì…ì„ ê°€ì§„ dateì™€ in_out, station_name ì»¬ëŸ¼ì„ ë³€ê²½ ë˜ëŠ” ì œê±°í•  ì˜ˆì •ì…ë‹ˆë‹¤.

</br>â˜ in_outì»¬ëŸ¼ì˜ ì‹œë‚´ë²„ìŠ¤ì™€ ì‹œì™¸ë²„ìŠ¤ë¥¼ ë‚˜ëˆ ì£¼ëŠ” ë³€ìˆ˜ë¥¼ 0ê³¼ 1ë¡œ ëŒ€ì²´í•©ë‹ˆë‹¤.  </br>âœŒ station_nameì»¬ëŸ¼ì„ ì œê±°í•©ë‹ˆë‹¤.
</br>ğŸ‘Œ dateì»¬ëŸ¼ì˜ ë‚ ì§œë¥¼ ìš”ì¼ë¡œ ë³€í™˜í•©ë‹ˆë‹¤.

</br>ì´ë•ŒëŠ” pandasì—ì„œ ì œê³µí•˜ëŠ” replace() ë©”ì†Œë“œë¥¼ ì‚¬ìš©í•´ ë³´ê² ìŠµë‹ˆë‹¤. 
</br>replace()ëŠ” ë¬¸ìì—´ì„ ë³€ê²½í•˜ëŠ” í•¨ìˆ˜ë¡œ ë¬¸ìì—´ ì•ˆì— íŠ¹ì •í•œ ë¬¸ìë¥¼ ìƒˆë¡œìš´ ë¬¸ìë¡œ ë³€ê²½í•˜ëŠ” ê¸°ëŠ¥ì„ ê°€ì§€ê³  ìˆìŠµë‹ˆë‹¤. </br>íŠ¹ì • ê°’ì„ ê³¨ë¼ì„œ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ê³  ì‹¶ì€ ê²½ìš°ì— ì‚¬ìš©í•©ë‹ˆë‹¤. 

</br>replace()ëŠ” <font style="font-weight : bold; font-size : 20px;">ê²°ê³¼ë¥¼ ìë™ìœ¼ë¡œ ì €ì¥í•´ì£¼ì§€ ì•Šê¸° ë•Œë¬¸ì—</font> 
</br>train = train.replace()ì˜ í˜•íƒœë¡œ ì‘ì„±í•´ì•¼í•©ë‹ˆë‹¤.

In [72]:
train = train.replace('ì‹œë‚´', 0)

In [73]:
# train ë°ì´í„° ìƒìœ„ 5ê°œ í–‰ ì¶œë ¥
train.head()

,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
id,,,,,,,,,,,,,,,,,,,,
0,2019-09-01,4270000,ì‹œì™¸,344,ì œì£¼ì¬í˜¸í…”,33.48990,126.49373,0.0,1.0,2.0,5.0,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019-09-01,4270000,ì‹œì™¸,357,í•œë¼ë³‘ì›,33.48944,126.48508,1.0,4.0,4.0,2.0,5.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,2019-09-01,4270000,ì‹œì™¸,432,ì •ì¡´ë§ˆì„,33.48181,126.47352,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,2019-09-01,4270000,0,1579,ì œì£¼êµ­ì œê³µí•­(600ë²ˆ),33.50577,126.49252,0.0,17.0,6.0,26.0,14.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0
4,2019-09-01,4270000,0,1646,ì¤‘ë¬¸ê´€ê´‘ë‹¨ì§€ì…êµ¬,33.25579,126.41260,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

ê²°ê³¼ë¥¼ ë³´ë©´ in_outì—ëŠ” ì‹œë‚´ê°€ ëª¨ë‘ 0ìœ¼ë¡œ ë°”ë€ê²ƒì„ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

### ğŸ”‘**ì°¸ì—¬ ì‹¤ìŠµ**


### *Inst.*  
in_outì— ì‹œì™¸ë¥¼ ëª¨ë‘ 1ë¡œ ë°”ê¿”ë´…ì‹œë‹¤.




### *Hint.*  
replace()




### *Solution.*

In [74]:
train = train.replace('ì‹œì™¸', 1)

In [75]:
train.head()

,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
id,,,,,,,,,,,,,,,,,,,,
0,2019-09-01,4270000,1,344,ì œì£¼ì¬í˜¸í…”,33.48990,126.49373,0.0,1.0,2.0,5.0,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019-09-01,4270000,1,357,í•œë¼ë³‘ì›,33.48944,126.48508,1.0,4.0,4.0,2.0,5.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,2019-09-01,4270000,1,432,ì •ì¡´ë§ˆì„,33.48181,126.47352,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,2019-09-01,4270000,0,1579,ì œì£¼êµ­ì œê³µí•­(600ë²ˆ),33.50577,126.49252,0.0,17.0,6.0,26.0,14.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0
4,2019-09-01,4270000,0,1646,ì¤‘ë¬¸ê´€ê´‘ë‹¨ì§€ì…êµ¬,33.25579,126.41260,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

ê²°ê³¼ë¥¼ ë³´ë©´ in_outì´ ëª¨ë‘ 1ê³¼ 0ìœ¼ë¡œ ì˜ ëŒ€ì²´ëœ ê²ƒì„ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

</br>ë‹¤ìŒìœ¼ë¡œ station_nameì„ ì œê±°í•´ë´…ì‹œë‹¤. 

</br>ì´ë•ŒëŠ” drop() ë©”ì†Œë“œë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤. 

</br>drop()ì€ axisì˜ ë””í´íŠ¸ê°’ì´ 0ì…ë‹ˆë‹¤.
</br><font style="font-weight : bold">row(í–‰)</font>ì„ ì‚­ì œí•  ë•ŒëŠ”, <font style="font-weight : bold">axis = 0</font> ìœ¼ë¡œ
</br><font style="font-weight : bold">column(ì—´)</font>ì„ ì‚­ì œí•  ë•ŒëŠ”, <font style="font-weight : bold">axis = 1</font> ìœ¼ë¡œ ì„¤ì •í•´ì¤ë‹ˆë‹¤.

In [76]:
train = train.drop(['station_name'], axis = 1)
train

,date,bus_route_id,in_out,station_code,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
id,,,,,,,,,,,,,,,,,,,
0,2019-09-01,4270000,1,344,33.48990,126.49373,0.0,1.0,2.0,5.0,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019-09-01,4270000,1,357,33.48944,126.48508,1.0,4.0,4.0,2.0,5.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,2019-09-01,4270000,1,432,33.48181,126.47352,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,2019-09-01,4270000,0,1579,33.50577,126.49252,0.0,17.0,6.0,26.0,14.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0
4,2019-09-01,4270000,0,1646,33.25579,126.41260,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415418,2019-09-30,32820000,0,1129,33.41437,126.26336,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415419,2019-09-30,32820000,0,1564,33.49946,126.51479,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415420,2019-09-30,32820000,0,2322,33.23100,126.26273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
415421,2019-09-30,32820000,0,3291,33.46483,126.31870,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415422,2019-09-30,32820000,0,6115100,33.24873,126.50799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0

ì¶œë ¥ê°’ì„ ì‚´í´ë³´ë©´ station_nameì´ ì˜ ì œê±°ëœ ê²ƒì„ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

### ğŸ”‘**ì°¸ì—¬ ì‹¤ìŠµ**


### *Inst.*  
trainì— ì ìš©í•œ ì „ì²˜ë¦¬ ê³¼ì •ì„ testë°ì´í„°ì— ì§ì ‘ ì ìš©í•´ë´…ì‹œë‹¤.


### *Hint.*  
replace(), drop()




### *Solution.*

In [77]:
test = test.replace('ì‹œì™¸', 1)
test = test.replace('ì‹œë‚´', 0)
test = test.drop(['station_name'], axis=1)

ë‹¤ìŒìœ¼ë¡œ dateë¥¼ ìš”ì¼ë¡œ ë³€ê²½í•´ë´…ì‹œë‹¤. 

ì´ë•ŒëŠ” pandasì—ì„œ ì§€ì›í•˜ëŠ” <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">datetime</font>ì„ ì‚¬ìš©í•©ë‹ˆë‹¤. 

</br>ë¨¼ì € dateë¥¼ ë°”ë¡œ ìš”ì¼ë¡œ ë³€ê²½í•˜ê¸° ì „ì— dateì˜ íƒ€ì…ì„ objectì—ì„œ datetime64ë¡œ ë³€ê²½í•´ì¤ë‹ˆë‹¤. 
</br> datetime64ëŠ” ì¼ìì™€ ì‹œê°„ì„ í‘œê¸°í•˜ëŠ” íƒ€ì…ì…ë‹ˆë‹¤.

</br>datetime64ë¡œ ë³€ê²½ì„ í•˜ëŠ” ì´ìœ ëŠ” datetime64ì˜ í˜•íƒœê°€ ì•„ë‹Œ ìƒíƒœë¡œ ìš”ì¼ë¡œ ë³€ê²½í•˜ê²Œ ë˜ë©´ ì˜¤ë¥˜ê°€ ë‚˜ê¸° ë•Œë¬¸ì…ë‹ˆë‹¤. 
</br>datetimeì—ì„œ ì§€ì›í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ë ¤ë©´ datetime64ì˜ í˜•íƒœë¥¼ ê°€ì§€ê³  ìˆì–´ì•¼í•©ë‹ˆë‹¤. 


</br>íƒ€ì…ì„ ë³€ê²½í•˜ê¸° ìœ„í•´ì„œ pd.to_datetime()ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤. 
</br>train ë°ì´í„°ì— ë°”ë¡œ ì ìš©í•´ë´…ì‹œë‹¤.

In [78]:
train['date'] = pd.to_datetime(train['date'])
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 415423 entries, 0 to 415422
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date           415423 non-null  datetime64[ns]
 1   bus_route_id   415423 non-null  int64
 2   in_out         415423 non-null  int64
 3   station_code   415423 non-null  int64
 4   latitude       415423 non-null  float64
 5   longitude      415423 non-null  float64
 6   6~7_ride       415423 non-null  float64
 7   7~8_ride       415423 non-null  float64
 8   8~9_ride       415423 non-null  float64
 9   9~10_ride      415423 non-null  float64
 10  10~11_ride     415423 non-null  float64
 11  11~12_ride     415423 non-null  float64
 12  6~7_takeoff    415423 non-null  float64
 13  7~8_takeoff    415423 non-null  float64
 14  8~9_takeoff    415423 non-null  float64
 15  9~10_takeoff   415423 non-null  float64
 16  10~11_takeoff  415423 non-null  float64
 17  11~12_takeoff  415423 non-null  float64
 18  18~20_ride     415423 non-null  float64
dtypes: datetime64[ns](1), float64(15), int64(3)
memory usage: 63.4 MB

train.info()ì˜ ê°’ì„ ë³´ë©´ dateì˜ íƒ€ì…ì´ datetime64ë¡œ ë³€ê²½ëœ ê²ƒì„ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

</br>ì´ì œëŠ” ë°ì´í„° íƒ€ì…ì´ datetime64ë¡œ ë³€ê²½ëœ dateë¥¼ ìš”ì¼ë¡œ ë³€ê²½í•´ë´…ì‹œë‹¤. 


</br>ì´ë•ŒëŠ” <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">dt.weekday</font>ë¼ëŠ” í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤. 
</br>dt.weekdayëŠ” ìš”ì¼ì„ ë°˜í™˜í•˜ëŠ” í•¨ìˆ˜ë¡œ ì›”ìš”ì¼ì„ 0ìœ¼ë¡œ ì‹œì‘í•˜ì—¬ ì¼ìš”ì¼ì„ 6ìœ¼ë¡œ í‘œì‹œí•©ë‹ˆë‹¤. 
</br>ìš”ì¼ì˜ <font style="font-weight : bold">ì´ë¦„</font>ì„ ë°˜í™˜í•˜ê³  ì‹¶ë‹¤ë©´ <font style="font-weight : bold">dt.day_name</font>ì„ ì‚¬ìš©í•˜ë©´ ë©ë‹ˆë‹¤. 
</br>í•˜ì§€ë§Œ ì €í¬ëŠ” ìˆ˜ì¹˜í˜• ìë£Œë§Œì„ ì´ìš©í•  ê²ƒì´ê¸° ë•Œë¬¸ì— dt.weekdayí•¨ìˆ˜ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [79]:
train['date'].dt.weekday

id
0         6
1         6
2         6
3         6
4         6
         ..
415418    0
415419    0
415420    0
415421    0
415422    0
Name: date, Length: 415423, dtype: int64

ê²°ê³¼ê°’ì„ ë³´ë©´ dateê°€ 0~6ìœ¼ë¡œ ì˜ ë³€ê²½ëœ ê²ƒì„ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤. 


</br>ì´ì œ ì´ ê°’ì„ train['date']ì— ë„£ì–´ë´…ì‹œë‹¤.

In [80]:
train['date'] = train['date'].dt.weekday
train

,date,bus_route_id,in_out,station_code,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
id,,,,,,,,,,,,,,,,,,,
0,6,4270000,1,344,33.48990,126.49373,0.0,1.0,2.0,5.0,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6,4270000,1,357,33.48944,126.48508,1.0,4.0,4.0,2.0,5.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,6,4270000,1,432,33.48181,126.47352,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,6,4270000,0,1579,33.50577,126.49252,0.0,17.0,6.0,26.0,14.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0
4,6,4270000,0,1646,33.25579,126.41260,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415418,0,32820000,0,1129,33.41437,126.26336,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415419,0,32820000,0,1564,33.49946,126.51479,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415420,0,32820000,0,2322,33.23100,126.26273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
415421,0,32820000,0,3291,33.46483,126.31870,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
415422,0,32820000,0,6115100,33.24873,126.50799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0

ì¶œë ¥ê°’ì„ ë³´ë©´ trainì˜ dateê°€ ìš”ì¼ë¡œ ì˜ ë³€ê²½ëœ ê²ƒì„ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤. 

</br>

### ğŸ”‘**ì°¸ì—¬ ì‹¤ìŠµ**


### *Inst.*  
ì´ë²ˆì—ëŠ” trainì— ì ìš©í•œ ì „ì²˜ë¦¬ ê³¼ì •ì„ testë°ì´í„°ì— ì§ì ‘ ì ìš©í•´ë´…ì‹œë‹¤.


### *Hint.*  
pd.to_datetime(), dt.weekday




### *Solution.*

In [81]:
test['date'] = pd.to_datetime(test['date'])
test['date'] = test['date'].dt.weekday
test

,date,bus_route_id,in_out,station_code,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff
id,,,,,,,,,,,,,,,,,,
415423,1,4270000,1,344,33.48990,126.49373,4.0,4.0,7.0,2.0,9.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
415424,1,4270000,1,357,33.48944,126.48508,1.0,6.0,6.0,1.0,8.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0
415425,1,4270000,1,432,33.48181,126.47352,2.0,4.0,2.0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
415426,1,4270000,0,1579,33.50577,126.49252,1.0,11.0,18.0,8.0,26.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0
415427,1,4270000,0,1636,33.24872,126.41032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643588,2,32820000,0,786,33.30073,126.18044,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
643589,2,32820000,0,1080,33.46262,126.33447,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
643590,2,32820000,0,1129,33.41437,126.26336,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
643591,2,32820000,0,1564,33.49946,126.51479,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
643592,2,32820000,0,6115100,33.24873,126.50799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0

ê²°ê³¼ê°’ì„ ë³´ë©´ testë„ ì˜ ë³€ê²½ëœ ê²ƒì„ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ì´ì œ ëª¨ë¸ì„ ë§Œë“¤ì–´ì•¼í•©ë‹ˆë‹¤. 
</br>ëª¨ë¸ë§ì„ í•˜ê¸° ì•ì„œ, <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">ë…ë¦½ë³€ìˆ˜ x</font>ì™€ <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">ì¢…ì†ë³€ìˆ˜(íƒ€ê¹ƒë³€ìˆ˜) y</font>ë¥¼ ì„¤ì •í•´ì•¼í•©ë‹ˆë‹¤. 

</br>ì´ í”„ë¡œì íŠ¸ì˜ ëª©í‘œëŠ” í‡´ê·¼ì‹œê°„ ë²„ìŠ¤ ìŠ¹ì°¨ì¸ì›ì˜ ì˜ˆì¸¡ê°’ì„ ë§íˆëŠ” ê²ƒì´ê¸° ë•Œë¬¸ì— </br>ì˜ˆì¸¡í•  ë³€ìˆ˜, targetì€ 18~20_ride ì…ë‹ˆë‹¤. 

</br>ê·¸ëŸ¼ ëª¨ë¸ë§ì„ í•˜ê¸° ìœ„í•´ train ë°ì´í„°ì—ì„œ í•™ìŠµì— ì‚¬ìš©í•  ë³€ìˆ˜ xì™€ ì˜ˆì¸¡í•  ë³€ìˆ˜ yë¥¼ ë¶„ë¦¬í•´ë´…ì‹œë‹¤.

In [82]:
y = train['18~20_ride']
y.head()

id
0     0.0
1     5.0
2     2.0
3    53.0
4     0.0
Name: 18~20_ride, dtype: float64

ë°ì´í„°í”„ë ˆì„ì— ì¹¼ëŸ¼ëª…ì´ ë‹´ê¸´ ë¦¬ìŠ¤íŠ¸ë¡œ ì¸ë±ì‹±ì„ í•˜ë©´, </br>ì›í•˜ëŠ” ì¹¼ëŸ¼ì„ ì¶”ì¶œí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. 

</br><font style="color:#99CCFF; font-weight : bold; font-size : 25px;">DataFrame[[â€˜ì¹¼ëŸ¼ëª…1â€™, â€˜ì¹¼ëŸ¼ëª…2â€™ .. ]]</font>

</br>ì˜¤ëŠ˜ ëª¨ë¸ì„ í•™ìŠµì‹œí‚¬ ë•Œ ì´ìš©í•  ë…ë¦½ë³€ìˆ˜ëŠ” ì´ 18ê°œì…ë‹ˆë‹¤. 

1. date : ë²„ìŠ¤ ìš´í–‰ ë‚ ì§œ
2. bus_route_id: ë²„ìŠ¤ ë…¸ì„  ID
3. in_out: ì‹œë‚´ë²„ìŠ¤, ì‹œì™¸ë²„ìŠ¤ êµ¬ë¶„
4. station_code: í•´ë‹¹ ìŠ¹í•˜ì°¨ ì •ë¥˜ì†Œì˜ ID
5. latitude: í•´ë‹¹ ë²„ìŠ¤ ì •ë¥˜ì¥ì˜ ìœ„ë„( ê°™ì€ ì •ë¥˜ì¥ ì´ë¦„ì´ì–´ë„ ë²„ìŠ¤ì˜ ì§„í–‰ ë°©í–¥ì— ë”°ë¼ ë‹¤ë¥¼ ìˆ˜ ìˆìŒ)
6. longitude: í•´ë‹¹ ë²„ìŠ¤ ì •ë¥˜ì¥ì˜ ê²½ë„( ê°™ì€ ì •ë¥˜ì¥ ì´ë¦„ì´ì–´ë„ ë²„ìŠ¤ì˜ ì§„í–‰ ë°©í–¥ì— ë”°ë¼ ë‹¤ë¥¼ ìˆ˜ ìˆìŒ)
7. 6~7_ride: 6ì‹œë¶€í„° 6ì‹œ 59ë¶„ 59ì´ˆê¹Œì§€ ìŠ¹ì°¨í•œ ì¸ì› ìˆ˜
8. 7~8_ride: 7ì‹œë¶€í„° 7ì‹œ 59ë¶„ 59ì´ˆê¹Œì§€ ìŠ¹ì°¨í•œ ì¸ì› ìˆ˜
9. 8~9_ride: 8ì‹œë¶€í„° 8ì‹œ 59ë¶„ 59ì´ˆê¹Œì§€ ìŠ¹ì°¨í•œ ì¸ì› ìˆ˜
10. 9~10_ride: 9ì‹œë¶€í„° 9ì‹œ 59ë¶„ 59ì´ˆê¹Œì§€ ìŠ¹ì°¨í•œ ì¸ì› ìˆ˜
11. 10~11_ride: 10ì‹œë¶€í„° 10ì‹œ 59ë¶„ 59ì´ˆê¹Œì§€ ìŠ¹ì°¨í•œ ì¸ì› ìˆ˜
12. 11~12_ride: 11ì‹œë¶€í„° 11ì‹œ 59ë¶„ 59ì´ˆê¹Œì§€ ìŠ¹ì°¨í•œ ì¸ì› ìˆ˜
13. 6~7_takeoff: 6ì‹œë¶€í„° 6ì‹œ 59ë¶„ 59ì´ˆê¹Œì§€ í•˜ì°¨í•œ ì¸ì› ìˆ˜
14. 7~8_takeoff: 7ì‹œë¶€í„° 7ì‹œ 59ë¶„ 59ì´ˆê¹Œì§€ í•˜ì°¨í•œ ì¸ì› ìˆ˜
15. 8~9_takeoff: 8ì‹œë¶€í„° 8ì‹œ 59ë¶„ 59ì´ˆê¹Œì§€ í•˜ì°¨í•œ ì¸ì› ìˆ˜
16. 9~10_takeoff: 9ì‹œë¶€í„° 9ì‹œ 59ë¶„ 59ì´ˆê¹Œì§€ í•˜ì°¨í•œ ì¸ì› ìˆ˜
17. 10~11_takeoff: 10ì‹œë¶€í„° 10ì‹œ 59ë¶„ 59ì´ˆê¹Œì§€ í•˜ì°¨í•œ ì¸ì› ìˆ˜
18. 11~12_takeoff: 11ì‹œë¶€í„° 11ì‹œ 59ë¶„ 59ì´ˆê¹Œì§€ í•˜ì°¨í•œ ì¸ì› ìˆ˜

### ğŸ”‘**ì°¸ì—¬ ì‹¤ìŠµ**


### *Inst.*  
ì´ì œ train ë°ì´í„°ì—ì„œ ì¢…ì†ë³€ìˆ˜ yë¥¼ ì œì™¸í•œ ë…ë¦½ë³€ìˆ˜ xë¥¼ ì§ì ‘ ì„¤ì •í•´ ë´…ì‹œë‹¤.


### *Hint.*  
DataFrame[['ì¹¼ëŸ¼ëª…1', 'ì¹¼ëŸ¼ëª…2', ...]]  


### *Solution.*

In [83]:
x = train[['date', 'bus_route_id', 'in_out', 'station_code', 'latitude', 'longitude',
       '6~7_ride', '7~8_ride', '8~9_ride', '9~10_ride', '10~11_ride', '11~12_ride',
       '6~7_takeoff', '7~8_takeoff', '8~9_takeoff', '9~10_takeoff', '10~11_takeoff', '11~12_takeoff']]
x.head()

,date,bus_route_id,in_out,station_code,latitude,longitude,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff
id,,,,,,,,,,,,,,,,,,
0,6,4270000,1,344,33.48990,126.49373,0.0,1.0,2.0,5.0,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6,4270000,1,357,33.48944,126.48508,1.0,4.0,4.0,2.0,5.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,4270000,1,432,33.48181,126.47352,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6,4270000,0,1579,33.50577,126.49252,0.0,17.0,6.0,26.0,14.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6,4270000,0,1646,33.25579,126.41260,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

---


## **ê²°ì¸¡ì¹˜ ì²˜ë¦¬**

ì •í˜• ë°ì´í„°ë¥¼ ë‹¤ë£¨ë‹¤ ë³´ë©´,  columnì— ë¹„ì–´ìˆëŠ” ê°’ë“¤ì´ ì¡´ì¬í•©ë‹ˆë‹¤. </br>ì´ ê°’ë“¤ì„ ê²°ì¸¡ì¹˜ ë¼ê³  í•©ë‹ˆë‹¤. </br>ê²°ì¸¡ê°’ì„ ì œê±°í•˜ê³  ê´€ì¸¡ê°’ë§Œ ë¶„ì„í•˜ê²Œ ë˜ë©´ ì¼ë°˜ì ìœ¼ë¡œ í†µê³„ì  í¸í–¥ì´ ìƒê²¨ ì •í™•í•œ ê²°ê³¼ë¥¼ ì–»ê¸° í˜ë“¤ì–´ì§‘ë‹ˆë‹¤. </br>ì´ì— ê²°ì¸¡ê°’ì„ ì¶”ì •í•œ ëŒ€ì²´ê°’ì„ ë„£ì–´ ë¶„ì„í•˜ê²Œ ë˜ëŠ”ë°, ì´ë¥¼ <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">ê²°ì¸¡ê°’ì²˜ë¦¬(imputation)</font> ë¼ í•©ë‹ˆë‹¤.

</br>ê²°ì¸¡ì¹˜ë¥¼ ì²˜ë¦¬í•˜ëŠ” ë°©ë²•ì€ ë‹¤ì–‘í•©ë‹ˆë‹¤.

- íŠ¹ì • ìƒˆë¡œìš´ ê°’(ìƒìˆ˜, í‰ê· ê°’, ìµœë¹ˆê°’ ë“±)ìœ¼ë¡œ ëŒ€ì²´í•˜ëŠ” ë°©ì‹
- Hot deck imputation : ë‹¤ë¥¸ ë³€ìˆ˜ì—ì„œ ë¹„ìŠ·í•œ ê°’ì„ ê°–ëŠ” ë°ì´í„° ì¤‘ í•˜ë‚˜ë¥¼ ëœë¤ ìƒ˜í”Œë§ í•˜ì—¬ ëŒ€ì²´í•˜ëŠ” ë°©ì‹
- Cold deck imputation : ë‹¤ë¥¸ ë³€ìˆ˜ì—ì„œ ë¹„ìŠ·í•œ ê°’ì„ ê°–ëŠ” ë°ì´í„° ì¤‘ì—ì„œ í•˜ë‚˜ë¥¼ ê³¨ë¼(ê·œì¹™ì´ ì¡´ì¬) ê·¸ ê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ëŠ” ë°©ì‹
- Regression imputation : ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ë³€ìˆ˜ë¥¼ featureë¡œ ì‚¼ê³ , ê²°ì¸¡ì¹˜ë¥¼ ì±„ìš°ê³ ì í•˜ëŠ” ë³€ìˆ˜ë¥¼ targetìœ¼ë¡œ ì‚¼ì•„ regression taskë¥¼ ì§„í–‰í•˜ëŠ” ë°©ì‹
- Stochastic regression imputation : regression ë°©ë²•ì— random residual valueë¥¼ ë”í•´ì„œ ê²°ì¸¡ì¹˜ì˜ ìµœì¢… ì˜ˆì¸¡ê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ëŠ” ë°©ì‹
- ë³´ê°„ë²•, ë³´ì™¸ë²• : ê°™ì€ ëŒ€ìƒìœ¼ë¡œë¶€í„° ì–»ì€ ë‹¤ë¥¸ ê´€ì¸¡ì¹˜ë¡œë¶€í„° ê²°ì¸¡ì¹˜ ë¶€ë¶„ì„ ì¶”ì •í•˜ëŠ” ë°©ì‹


</br>ì´ ë°©ë²•ë“¤ì€ <font style="font-weight : bold; font-size : 25px">Single Imputation</font>ê³¼  <font style="font-weight : bold; font-size : 25px">Multiple Imputation</font>ë¡œ ë¶„ë¥˜í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

</br>

> 1ï¸âƒ£ Single Imputation 

ëŒ€ì²´ê°’ìœ¼ë¡œ <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">í•˜ë‚˜ì˜ ê°’</font>ì„ ì„ ì •í•©ë‹ˆë‹¤. ì˜ˆì‹œë¡œëŠ” hot deck, í‰ê· ê°’ ëŒ€ì²´, regression imputation ë“±ì´ ìˆìŠµë‹ˆë‹¤. </br>í•˜ë‚˜ì˜ ê°’ìœ¼ë¡œ í•˜ê²Œ ëœë‹¤ë©´ ê²°ì¸¡ì¹˜ê°€ ëœë¤í•˜ê²Œ ìƒì„±ëœ ê²½ìš°ê°€ ì•„ë‹ˆë¼ë©´ ì¶”ì • í¸í–¥ì´ ìƒê¸¸ ìˆ˜ ìˆìŠµë‹ˆë‹¤.  </br>ê·¸ëŸ¬ë‹¤ ë³´ë©´ ëŒ€ì²´ê°’ì´ ê´€ì¸¡ê°’ë³´ë‹¤ ë” ë†’ì€ ì‹ ë¢°ë„ë¥¼ ê°€ì§„ë‹¤ê³  í‰ê°€ë  ìˆ˜ë„ ìˆìŠµë‹ˆë‹¤. 

</br>
ì´ë¥¼ ë§‰ê¸°ìœ„í•´ ë‚˜ì˜¨ê²ƒì´ Multiple Imputationì…ë‹ˆë‹¤.

</br>

> 2ï¸âƒ£ Multiple Imputation 

ëŒ€ì²´ê°’ìœ¼ë¡œ <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">ì—¬ëŸ¬ê°œì˜ ê°’</font>ì„ ì„ ì •í•˜ëŠ” ë°©ì‹ì…ë‹ˆë‹¤. ì—¬ëŸ¬ê°œì˜ ë°ì´í„° ì…‹ì„ ë§Œë“¤ì–´ í‰ê°€í•˜ë¯€ë¡œ ê´€ì¸¡ê°’ì€ ë³€í•¨ì´ ì—†ì–´ </br>ë™ì¼ê°’ë“¤ì´ ë§ì´ë‚˜ì˜¨ ê²ƒì²˜ëŸ¼ í‰ê°€ë˜ëŠ” ê²ƒì— ë¹„í•´
ëŒ€ì²´ê°’ì€ ë§Œë“¤ ë•Œë§ˆë‹¤ ì¶”ê°€í•´ì£¼ëŠ” residualë¡œ ì¸í•œ ë³€ë™ ë•Œë¬¸ì— </br>ê´€ì¸¡ê°’ë³´ë‹¤ ìƒëŒ€ì ìœ¼ë¡œ ì‹ ë¢°ë„ê°€ ë‚®ê²Œ í‰ê°€ë©ë‹ˆë‹¤.

</br>

ê·¸ëŸ¼ ì‹¤ìŠµì„ í†µí•´ ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•˜ëŠ”ì§€ í™•ì¸í•˜ëŸ¬ ê°€ë³¼ê¹Œìš”?

ì‚¬ì‹¤, stage1ê³¼ ìœ„ì˜ ë³µìŠµì—ì„œ í™•ì¸í–ˆë“¯ì´ trainê³¼ testì—ëŠ” ê²°ì¸¡ì¹˜ê°€ ì—†ìŠµë‹ˆë‹¤.ğŸ˜¥
</br>ê·¸ë˜ì„œ â€˜bus_btsâ€™ ë°ì´í„°ë¡œ ì‹¤ìŠµì„ í•´ë³´ê² ìŠµë‹ˆë‹¤.

</br>í•´ë‹¹ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.

In [84]:
bus = pd.read_csv('bus_bts.csv' ,index_col=0)

C:\Users\MJ\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

ë¶ˆëŸ¬ì˜¨ ë°ì´í„°ì˜ êµ¬ì¡°ì™€ ì •ë³´ë¥¼ í™•ì¸í•©ë‹ˆë‹¤.

In [85]:
bus.head()

,bus_route_id,vhc_id,geton_date,geton_time,geton_station_code,geton_station_name,getoff_date,getoff_time,getoff_station_code,getoff_station_name,user_category,user_count
user_card_id,,,,,,,,,,,,
1.010010e+15,23000000,149793674,2019-09-10,06:34:45,360,ë…¸í˜•ì˜¤ê±°ë¦¬,2019-09-10,07:10:31,592.0,í™”ë¶ì´ˆë“±í•™êµ,1,1
1.010010e+15,23000000,149793674,2019-09-10,06:34:58,360,ë…¸í˜•ì˜¤ê±°ë¦¬,2019-09-10,06:56:27,3273.0,ê³ ì‚°ë™ì‚°(ê´‘ì–‘ë°©ë©´),1,1
1.019160e+15,21420000,149793535,2019-09-10,07:19:07,2495,ë™ê´‘í™˜ìŠ¹ì •ë¥˜ì¥4(ì œì£¼ë°©ë©´),2019-09-10,07:40:29,431.0,ì •ì¡´ë§ˆì„,4,1
1.019150e+15,21420000,149793512,2019-09-09,09:14:47,3282,ëŒ€ì •í™˜ìŠ¹ì •ë¥˜ì¥(ëŒ€ì •ìì‚¬ë¬´ì†Œ),2019-09-09,10:02:46,431.0,ì •ì¡´ë§ˆì„,1,1
1.010010e+15,21420000,149793512,2019-09-09,09:28:53,2820,ì‚¼ì •ì§€ì—ë“€,2019-09-09,10:21:37,2972.0,ì œì£¼êµ­ì œê³µí•­(ì¢…ì ),4,1

bus_bts ë°ì´í„°ëŠ” ë²„ìŠ¤ì¹´ë“œë³„ ìŠ¹í•˜ì°¨ ê¸°ë¡ ë°ì´í„°ë¡œ </br>ëª¨ë“  ìŠ¹ì°¨ì •ë³´ì˜ ê²½ìš°ëŠ” ê¸°ë¡ì´ ë˜ì–´ìˆì§€ë§Œ, </br>ë²„ìŠ¤ í•˜ì°¨ íƒœê·¸ë¥¼ í•˜ì§€ ì•Šì€ ê²½ìš°ì— ëŒ€í•´ì„œëŠ” í•´ë‹¹ ê¸°ë¡ì´ ë¹„ì–´ ìˆëŠ” ìƒíƒœì…ë‹ˆë‹¤.

In [86]:
# ë°ì´í„° ì •ë³´ í™•ì¸ì„ ìœ„í•´ info() ë©”ì†Œë“œë¥¼ ì‚¬ìš©í•´ì¤ë‹ˆë‹¤.
bus.info(null_counts=True)

C:\Users\MJ\AppData\Local\Temp/ipykernel_17200/1256009039.py:2: FutureWarning: null_counts is deprecated. Use show_counts instead
  bus.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Float64Index: 2409414 entries, 1010010127894129.0 to 5272898300289151.0
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   bus_route_id         2409414 non-null  int64
 1   vhc_id               2409414 non-null  int64
 2   geton_date           2409414 non-null  object
 3   geton_time           2409414 non-null  object
 4   geton_station_code   2409414 non-null  int64
 5   geton_station_name   2409365 non-null  object
 6   getoff_date          1513678 non-null  object
 7   getoff_time          1513678 non-null  object
 8   getoff_station_code  1513678 non-null  float64
 9   getoff_station_name  1513639 non-null  object
 10  user_category        2409414 non-null  int64
 11  user_count           2409414 non-null  int64
dtypes: float64(1), int64(5), object(6)
memory usage: 239.0+ MB

ë°ì´í„°ë¥¼ ì‚´í´ë³´ë‹ˆ <font style="font-weight : bold;">user_card_id ì¸ë±ìŠ¤ì™€ ì´ 12ê°œì˜ ì—´</font>ë¡œ êµ¬ì„±ë˜ì–´ ìˆìŠµë‹ˆë‹¤!
</br> ê·¸ëŸ¼ í•´ë‹¹ ë°ì´í„°ì— ëŒ€í•˜ì—¬ ìì„¸íˆ ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤.

1. user_card_id : í•´ë‹¹ ìŠ¹ê°ì˜ ë²„ìŠ¤ì¹´ë“œID
2. bus_route_id : ë…¸ì„ ID
3. vhc_id : ì°¨ëŸ‰ID
4. geton_date : í•´ë‹¹ ìŠ¹ê°ì´ íƒ‘ìŠ¹í•œ ë‚ ì§œ
5. geton_time : í•´ë‹¹ ìŠ¹ê°ì´ íƒ‘ìŠ¹í•œ ì‹œê°„
6. geton_station_code : ìŠ¹ì°¨ì •ë¥˜ì†Œì˜ ID
7. geton_station_name : ìŠ¹ì°¨ì •ë¥˜ì†Œì˜ ì´ë¦„
8. getoff_date : í•´ë‹¹ ìŠ¹ê°ì´ í•˜ì°¨í•œ ë‚ ì§œ (í•˜ì°¨íƒœê·¸ ì—†ëŠ” ê²½ìš°, NaN)
9. getoff_time : í•´ë‹¹ ìŠ¹ê°ì´ í•˜ì°¨í•œ ì‹œê°„ (í•˜ì°¨íƒœê·¸ ì—†ëŠ” ê²½ìš°, NaN)
10. getoff_station_code : í•˜ì°¨ì •ë¥˜ì†Œì˜ ID (í•˜ì°¨íƒœê·¸ ì—†ëŠ” ê²½ìš°, NaN)
11. getoff_station_name : í•˜ì°¨ì •ë¥˜ì†Œì˜ ì´ë¦„ (í•˜ì°¨íƒœê·¸ ì—†ëŠ” ê²½ìš°, NaN)
12. user_category :  ìŠ¹ê° êµ¬ë¶„ (01-ì¼ë°˜, 02-ì–´ë¦°ì´, 04-ì²­ì†Œë…„, 06-ê²½ë¡œ, 27-ì¥ì•  ì¼ë°˜, 28-ì¥ì•  ë™ë°˜, 29-ìœ ê³µ ì¼ë°˜, 30-ìœ ê³µ ë™ë°˜)
13. user_count : í•´ë‹¹ ë²„ìŠ¤ì¹´ë“œë¡œ ê³„ì‚°í•œ ì¸ì›ìˆ˜ ( ex- 3ì€ 3ëª… ë¶„ì˜ ë²„ìŠ¤ë¹„ë¥¼ í•´ë‹¹ ì¹´ë“œ í•˜ë‚˜ë¡œ ê³„ì‚°í•œ ê²ƒ)

</br>


ìœ„ì—ì„œ info() ë©”ì†Œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•¨ì„ í™•ì¸í–ˆìŠµë‹ˆë‹¤.
</br> í•˜ì§€ë§Œ ì¢€ ë” íš¨ìœ¨ì ìœ¼ë¡œ ê²°ì¸¡ì¹˜ë¥¼ í™•ì¸í•˜ëŠ” ë˜ ë‹¤ë¥¸ ë°©ë²•ì„ ì•Œë ¤ë“œë¦¬ê² ìŠµë‹ˆë‹¤.

</br> ë°”ë¡œ, <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">isnull()</font> ë©”ì†Œë“œì…ë‹ˆë‹¤!

</br> isnull() ë©”ì†Œë“œëŠ” ë°ì´í„°í”„ë ˆì„ ë‚´ì˜ ê²°ì¸¡ê°’ í–‰ì„ í™•ì¸í•˜ëŠ” í•¨ìˆ˜ì…ë‹ˆë‹¤. </br>ê´€ì¸¡ê°’ì´ null ê°’ì´ë©´ True, ê·¸ë ‡ì§€ ì•Šìœ¼ë©´ Falseë¥¼ ì¶œë ¥í•©ë‹ˆë‹¤.

### ğŸ”‘**ì°¸ì—¬ ì‹¤ìŠµ**


### *Inst.*  
isnull() í•¨ìˆ˜ë¥¼ ì´ìš©í•´ ê²°ì¸¡ê°’ í–‰ì„ í™•ì¸í•´ë´…ì‹œë‹¤.




### *Hint.*  
.isnull()




### *Solution.*

In [87]:
# bus ë°ì´í„°í”„ë ˆì„ ë‚´ì˜ ê²°ì¸¡ê°’ í–‰ í™•ì¸
bus.isnull()

,bus_route_id,vhc_id,geton_date,geton_time,geton_station_code,geton_station_name,getoff_date,getoff_time,getoff_station_code,getoff_station_name,user_category,user_count
user_card_id,,,,,,,,,,,,
1.010010e+15,False,False,False,False,False,False,False,False,False,False,False,False
1.010010e+15,False,False,False,False,False,False,False,False,False,False,False,False
1.019160e+15,False,False,False,False,False,False,False,False,False,False,False,False
1.019150e+15,False,False,False,False,False,False,False,False,False,False,False,False
1.010010e+15,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
6.573162e+15,False,False,False,False,False,False,True,True,True,True,False,False
9.441160e+15,False,False,False,False,False,False,True,True,True,True,False,False
9.446038e+15,False,False,False,False,False,False,True,True,True,True,False,False
4.309690e+15,False,False,False,False,False,False,True,True,True,True,False,False
5.272898e+15,False,False,False,False,False,False,True,True,True,True,False,False

í•˜ì§€ë§Œ isnull() ë©”ì†Œë“œë§Œìœ¼ë¡œëŠ” ì¹¼ëŸ¼ ë³„ ì´ ê²°ì¸¡ì¹˜ ìˆ˜ë¥¼  í•œ ëˆˆì— íŒŒì•…í•˜ëŠ” ë°ëŠ” ë¬´ë¦¬ê°€ ìˆì–´ ë³´ì…ë‹ˆë‹¤.ğŸ˜¥

</br> ë°”ë¡œ ì´ë•Œ <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">sum()</font> ë©”ì†Œë“œë¥¼ í™œìš©í•©ë‹ˆë‹¤!

</br>isnull() í•¨ìˆ˜ì™€ sum() í•¨ìˆ˜ë¥¼ í•¨ê»˜ ì‚¬ìš©í•˜ë©´, </br>ê° ì»¬ëŸ¼ë³„ë¡œ null ê°’ì´ ëª‡ ê°œê°€ ìˆëŠ”ì§€ ì‰½ê²Œ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

</br> ì‚¬ìš©ë²•ì€ ë§¤ìš° ê°„ë‹¨í•©ë‹ˆë‹¤. isnull() ë’¤ì— .sum()ì„ ë¶™ì—¬ì£¼ë©´ ë©ë‹ˆë‹¤. </br>ì¦‰, isnull().sum()

In [88]:
# ê° ì»¬ëŸ¼ë³„ ê²°ì¸¡ê°’ ê°œìˆ˜ í™•ì¸
bus.isnull().sum()

bus_route_id                0
vhc_id                      0
geton_date                  0
geton_time                  0
geton_station_code          0
geton_station_name         49
getoff_date            895736
getoff_time            895736
getoff_station_code    895736
getoff_station_name    895775
user_category               0
user_count                  0
dtype: int64

TrueëŠ” 1ì— ëŒ€ì‘í•˜ê³ , FalseëŠ” 0ì— ëŒ€ì‘í•˜ê¸° ë•Œë¬¸ì— </br>sum í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•  ê²½ìš° ê²°ê³¼ê°’ì²˜ëŸ¼ ì»¬ëŸ¼ ë³„ ê²°ì¸¡ì¹˜ ê°œìˆ˜ì˜ ì´í•©ì´ ì¶œë ¥ ë©ë‹ˆë‹¤.

</br> ì¦‰, bus_route_id ëŠ” ê²°ì¸¡ê°’ì´ 0ê°œì´ê³ 
</br> geton_station_name ì€ ê²°ì¸¡ê°’ì´ 49ê°œì„ì„ ì˜ë¯¸í•©ë‹ˆë‹¤.

</br>

ì´ë²ˆì—ëŠ” ìš°ë¦¬ê°€ ì°¾ì€ ê²°ì¸¡ì¹˜ë¥¼ ì²˜ë¦¬í•˜ëŠ” ë©”ì†Œë“œì— ëŒ€í•´ ì•Œì•„ë³´ê² ìŠµë‹ˆë‹¤.

</br>

**1ï¸âƒ£ ì²« ë²ˆì§¸ëŠ” <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">dropna()</font> ë©”ì†Œë“œì…ë‹ˆë‹¤.**

dropna() ë©”ì†Œë“œëŠ” ë°ì´í„°í”„ë ˆì„ ë‚´ì˜ ê²°ì¸¡ê°’ì„ ì œê±°í•˜ëŠ” í•¨ìˆ˜ì…ë‹ˆë‹¤.

In [89]:
bus.dropna()

,bus_route_id,vhc_id,geton_date,geton_time,geton_station_code,geton_station_name,getoff_date,getoff_time,getoff_station_code,getoff_station_name,user_category,user_count
user_card_id,,,,,,,,,,,,
1.010010e+15,23000000,149793674,2019-09-10,06:34:45,360,ë…¸í˜•ì˜¤ê±°ë¦¬,2019-09-10,07:10:31,592.0,í™”ë¶ì´ˆë“±í•™êµ,1,1
1.010010e+15,23000000,149793674,2019-09-10,06:34:58,360,ë…¸í˜•ì˜¤ê±°ë¦¬,2019-09-10,06:56:27,3273.0,ê³ ì‚°ë™ì‚°(ê´‘ì–‘ë°©ë©´),1,1
1.019160e+15,21420000,149793535,2019-09-10,07:19:07,2495,ë™ê´‘í™˜ìŠ¹ì •ë¥˜ì¥4(ì œì£¼ë°©ë©´),2019-09-10,07:40:29,431.0,ì •ì¡´ë§ˆì„,4,1
1.019150e+15,21420000,149793512,2019-09-09,09:14:47,3282,ëŒ€ì •í™˜ìŠ¹ì •ë¥˜ì¥(ëŒ€ì •ìì‚¬ë¬´ì†Œ),2019-09-09,10:02:46,431.0,ì •ì¡´ë§ˆì„,1,1
1.010010e+15,21420000,149793512,2019-09-09,09:28:53,2820,ì‚¼ì •ì§€ì—ë“€,2019-09-09,10:21:37,2972.0,ì œì£¼êµ­ì œê³µí•­(ì¢…ì ),4,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5.387208e+15,25060000,149797565,2019-10-16,10:03:26,2057,ì¤‘ë¬¸ì´ˆë“±í•™êµ,2019-10-16,10:33:12,1955.0,ì²­ì†Œë…„ë¬¸í™”ì˜ì§‘,1,1
5.461122e+15,30420000,149797565,2019-10-16,06:43:18,1683,ìš©í¥ë™,2019-10-16,07:15:05,1940.0,ë‚¨ì£¼ì¤‘ê³ ë“±í•™êµ,1,1
9.035162e+15,30420000,149797565,2019-10-16,07:01:55,1955,ì²­ì†Œë…„ë¬¸í™”ì˜ì§‘,2019-10-16,07:08:19,1937.0,Lë§ˆíŠ¸,29,1
4.028571e+15,28130000,149793908,2019-10-16,11:15:40,1540,"ë‹¤ë‘ì‰¬ì˜¤ë¦„ì…êµ¬(ë‚¨),ì†ì§€ì˜¤ë¦„",2019-10-16,11:23:57,3258.0,ìš©ëˆˆì´ì˜¤ë¦„,1,1
5.461121e+15,25070000,149797565,2019-10-16,08:40:34,1938,ì£¼ê³µì•„íŒŒíŠ¸5ë‹¨ì§€,2019-10-16,08:49:06,1956.0,ì²­ì†Œë…„ë¬¸í™”ì˜ì§‘,1,1

**2ï¸âƒ£ ë‘ ë²ˆì§¸ëŠ” <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">fillna()</font> ë©”ì†Œë“œì…ë‹ˆë‹¤.**
</br> fillna() ë©”ì†Œë“œëŠ” ê²°ì¸¡ê°’ì— íŠ¹ì • ê°’ì„ ì±„ì›Œì£¼ëŠ” í•¨ìˆ˜ì…ë‹ˆë‹¤.

In [90]:
# ê²°ì¸¡ê°’ì„ 0ìœ¼ë¡œ ì±„ì›Œë´…ë‹ˆë‹¤.
bus.fillna(0)

,bus_route_id,vhc_id,geton_date,geton_time,geton_station_code,geton_station_name,getoff_date,getoff_time,getoff_station_code,getoff_station_name,user_category,user_count
user_card_id,,,,,,,,,,,,
1.010010e+15,23000000,149793674,2019-09-10,06:34:45,360,ë…¸í˜•ì˜¤ê±°ë¦¬,2019-09-10,07:10:31,592.0,í™”ë¶ì´ˆë“±í•™êµ,1,1
1.010010e+15,23000000,149793674,2019-09-10,06:34:58,360,ë…¸í˜•ì˜¤ê±°ë¦¬,2019-09-10,06:56:27,3273.0,ê³ ì‚°ë™ì‚°(ê´‘ì–‘ë°©ë©´),1,1
1.019160e+15,21420000,149793535,2019-09-10,07:19:07,2495,ë™ê´‘í™˜ìŠ¹ì •ë¥˜ì¥4(ì œì£¼ë°©ë©´),2019-09-10,07:40:29,431.0,ì •ì¡´ë§ˆì„,4,1
1.019150e+15,21420000,149793512,2019-09-09,09:14:47,3282,ëŒ€ì •í™˜ìŠ¹ì •ë¥˜ì¥(ëŒ€ì •ìì‚¬ë¬´ì†Œ),2019-09-09,10:02:46,431.0,ì •ì¡´ë§ˆì„,1,1
1.010010e+15,21420000,149793512,2019-09-09,09:28:53,2820,ì‚¼ì •ì§€ì—ë“€,2019-09-09,10:21:37,2972.0,ì œì£¼êµ­ì œê³µí•­(ì¢…ì ),4,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6.573162e+15,30420000,149797565,2019-10-16,07:08:31,1937,Lë§ˆíŠ¸,0,0,0.0,0,1,1
9.441160e+15,30420000,149797565,2019-10-16,07:16:31,1908,í•œë¼ì‚°êµíšŒ,0,0,0.0,0,1,1
9.446038e+15,25070000,149797565,2019-10-16,08:29:05,1882,ê³ ë„ë†ì›,0,0,0.0,0,1,1
4.309690e+15,25070000,149797565,2019-10-16,08:40:32,1938,ì£¼ê³µì•„íŒŒíŠ¸5ë‹¨ì§€,0,0,0.0,0,1,1
5.272898e+15,25070000,149797565,2019-10-16,08:40:35,1938,ì£¼ê³µì•„íŒŒíŠ¸5ë‹¨ì§€,0,0,0.0,0,1,1

í˜„ì¬ ê²°ì¸¡ê°’ì„ ëª¨ë‘ 0ìœ¼ë¡œ ì±„ì›Œë´¤ìŠµë‹ˆë‹¤.

</br> fillna()ë¥¼ ì‚¬ìš©í•˜ë©´ ê²°ì¸¡ê°’ ëŒ€ì‹ ì— ë‹¤ì–‘í•œ ê°’ì„ ë„£ì–´ì¤„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

</br> ì˜ˆë¥¼ ë“¤ì–´, getoff_date ì»¬ëŸ¼ì˜ ê²°ì¸¡ê°’ì„ í•´ë‹¹ ì»¬ëŸ¼ì˜ ìµœë¹ˆê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ê³  ì‹¶ë‹¤ë©´, </br>ë‹¤ìŒê³¼ ê°™ì€ ì½”ë“œë¥¼ ì‘ì„±í•˜ë©´ ë©ë‹ˆë‹¤.

</br>ìµœë¹ˆê°’(ê°€ì¥ ë§ì€ ë¹ˆë„ë¡œ ë‚˜íƒ€ë‚˜ëŠ” ê°’)ì„ êµ¬í•˜ëŠ” í•¨ìˆ˜ëŠ” <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">mode()</font> ì…ë‹ˆë‹¤.

In [91]:
# getoff_date ì»¬ëŸ¼ì˜ ìµœë¹ˆê°’ì„ í™•ì¸í•©ë‹ˆë‹¤.
print(bus['getoff_date'].mode()[0])

2019-10-10

getoff_date ì»¬ëŸ¼ì˜ ìµœë¹ˆê°’ì€ 2019-10-10 ì…ë‹ˆë‹¤.
</br> ì´ ê°’ìœ¼ë¡œ í•´ë‹¹ ì»¬ëŸ¼ì˜ ê²°ì¸¡ê°’ì„ ì±„ì›Œë³´ê² ìŠµë‹ˆë‹¤.

In [92]:
# ìµœë¹ˆê°’ìœ¼ë¡œ ê²°ì¸¡ê°’ì„ ì±„ì›Œì¤ë‹ˆë‹¤.
bus['getoff_date']= bus['getoff_date'].fillna(bus['getoff_date'].mode()[0])

isnull().sum() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ê²°ì¸¡ê°’ì´ ì˜ ì±„ì›Œì¡ŒëŠ”ì§€ í™•ì¸í•©ë‹ˆë‹¤.

In [93]:
bus.isnull().sum()

bus_route_id                0
vhc_id                      0
geton_date                  0
geton_time                  0
geton_station_code          0
geton_station_name         49
getoff_date                 0
getoff_time            895736
getoff_station_code    895736
getoff_station_name    895775
user_category               0
user_count                  0
dtype: int64

getoff_date ì»¬ëŸ¼ì˜ ê²°ì¸¡ê°’ ìˆ˜ê°€ 0ì´ë¯€ë¡œ, ê²°ì¸¡ê°’ì´ ì˜ ì±„ì›Œì¡ŒìŒì„ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

**</br> 3ï¸âƒ£ì„¸ ë²ˆì§¸ëŠ” <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">interpolate() </font>ë©”ì†Œë“œì…ë‹ˆë‹¤.**

</br> interpolate() ë©”ì†Œë“œëŠ” ì‹œê³„ì—´ ë°ì´í„° ë¶„ì„ì´ë¼ë“ ì§€ (X, Y, Z) ì¢Œí‘œ ê³µê°„ ìƒì—ì„œ </br>ì¸¡ì •ëœ ë°ì´í„°(ê·¼ì ‘í•œ ê³µê°„ ìƒ ë°ì´í„° ê°„ ìƒê´€ì„±/ì—°ì†ì„±ì´ ìˆëŠ” ê²½ìš°) ì—ì„œ ì‚¬ìš©í•˜ëŠ” í•¨ìˆ˜ ì…ë‹ˆë‹¤. </br>ì‹œê³„ì—´ ë°ì´í„°ì˜ ê°’ì— ì„ í˜•ìœ¼ë¡œ ë¹„ë¡€í•˜ëŠ” ë°©ì‹ìœ¼ë¡œ ê²°ì¸¡ê°’ì„ ë³´ê°„í•©ë‹ˆë‹¤.

![image](https://t1.daumcdn.net/cfile/tistory/27380C3F584C23A617)
</br><font color="grey"><ì¶œì²˜>https://rfriend.tistory.com/264</font>

ì´ì²˜ëŸ¼ ë°ì´í„°ì— ë”°ë¼ì„œ ê²°ì¸¡ì¹˜ë¥¼ ì–´ë–»ê²Œ ëŒ€ì²´í• ì§€ ê²°ì •í•˜ëŠ” ê²ƒì€ ë¶„ì„ê°€ì˜ ëª«ì…ë‹ˆë‹¤.

</br>ë°ì´í„° ì „ì²˜ë¦¬ëŠ” ë°ì´í„° ë¶„ì„ì—ì„œ ê°€ì¥ ì¤‘ìš”í•œ ê³¼ì •ì…ë‹ˆë‹¤. </br>ë¶„ì„ ê²°ê³¼ ë° ì¸ì‚¬ì´íŠ¸ì™€ ëª¨ë¸ ì„±ëŠ¥ì— ì§ì ‘ì ì¸ ì˜í–¥ì„ ë¯¸ì¹˜ëŠ” ê³¼ì •ì´ê¸° ë•Œë¬¸ì— </br>ì¤‘ìš”í•˜ê²Œ ë‹¤ë¤„ì§€ëŠ” ê³¼ì •ì„ì„ ì˜ ì¸ì§€í•˜ì…¨ìœ¼ë©´ í•©ë‹ˆë‹¤.ğŸ˜€

---

# **ëª¨ë¸ë§(Modeling)**
ë¶„ì„ìš© ë°ì´í„°ë¥¼ ì´ìš©í•œ ê°€ì„¤ ì„¤ì •ì„ í†µí•˜ì—¬ í†µê³„ëª¨í˜•ì„ ë§Œë“¤ê±°ë‚˜ </br>ê¸°ê³„í•™ìŠµ(Machine Learning)ì„ ì´ìš©í•œ ë°ì´í„°ì˜ ë¶„ë¥˜, ì˜ˆì¸¡, êµ°ì§‘ ë“±ì˜ ê¸°ëŠ¥ì„</br> ìˆ˜í–‰í•˜ëŠ” ëª¨í˜•ì„ ë§Œë“œëŠ” ê³¼ì •ì…ë‹ˆë‹¤.

</br>ê¸°ê³„í•™ìŠµì€ <font style = "font-weight:bold;">ì§€ë„í•™ìŠµ(Supervised Learning)</font>, <font style = "font-weight:bold;">ë¹„ì§€ë„í•™ìŠµ(Un-supervised Learning)</font>, <font style = "font-weight:bold;">ê°•í™”í•™ìŠµ(reinforcement learning)</font>ìœ¼ë¡œ ë‚˜ë‰˜ì–´ ë‹¤ì–‘í•œ ì•Œê³ ë¦¬ì¦˜ì„ ì ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. 

</br>ëª¨ë¸ë§ì„ íš¨ê³¼ì ìœ¼ë¡œ ì§„í–‰í•˜ê¸° ìœ„í•´ì„œëŠ” ëª¨ë¸ë§ ì „ì— ë°ì´í„°ì…‹ì„ Trainingê³¼ Testingìœ¼ë¡œ <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">"ë¶„í• "</font>í•¨ìœ¼ë¡œì¨ </br><font style = "font-weight:bold;">ëª¨í˜•ì˜ Overfittingì„ ë°©ì§€í•˜ê±°ë‚˜ ëª¨í˜•ì˜ Generalizationì— ì´ìš©</font>ë©ë‹ˆë‹¤.
</br>ê¸°ê³„í•™ìŠµ ë“±ì„ ì´ìš©í•œ ë°ì´í„° ëª¨ë¸ë§ì€ Training ë°ì´í„°ë¥¼ í™œìš©í•˜ì—¬ ë¶„ë¥˜, ì˜ˆì¸¡, êµ°ì§‘ ë“±ì˜ ëª¨í˜•ì„ ë§Œë“¤ì–´ ê°€ë™ì¤‘ì¸ ìš´ì˜ ì‹œìŠ¤í…œì— ì ìš©í•©ë‹ˆë‹¤. </br>ë˜í•œ, í•„ìš”ì‹œ ë¹„ì •í˜• ë°ì´í„° ë¶„ì„ê²°ê³¼ë¥¼ í†µí•©ì ìœ¼ë¡œ í™œìš©í•˜ì—¬ í”„ë¡œì íŠ¸ ëª©ì ì— ë§ëŠ” í†µí•© ëª¨ë¸ë§ì„ ìˆ˜í–‰í•©ë‹ˆë‹¤.

</br><font style="color:#99CCFF; font-weight : bold; font-size : 25px;">Supervised Learning</font>ì˜ ê²½ìš°, ì•Œê³ ë¦¬ì¦˜ì— ì…ë ¥ ë°ì´í„° ì„¸íŠ¸ê°€ ì œê³µë˜ë©° </br>íŠ¹ì • ì¶œë ¥ ì„¸íŠ¸ì— ë¶€í•©í•˜ë„ë¡ ë³´ìƒì´ ì£¼ì–´ì§€ê±°ë‚˜ ìµœì í™”ë©ë‹ˆë‹¤. </br>ì˜ˆë¥¼ ë“¤ì–´ Supervised Learningì€ ì´ë¯¸ì§€ ì¸ì‹ì— ê´‘ë²”ìœ„í•˜ê²Œ í™œìš©ë˜ëŠ”ë°, ì´ ê²½ìš° ë¶„ë¥˜ë¼ëŠ” ê¸°ë²•ì„ í™œìš©í•©ë‹ˆë‹¤. </br>Supervised Learningì€ ì¸êµ¬ ì„±ì¥ì´ë‚˜ ê±´ê°• ì§€í‘œì™€ ê°™ì€ ì¸êµ¬í†µê³„ ì˜ˆì¸¡ì—ë„ ì“°ì´ë©°, </br>ì´ ê²½ìš° íšŒê·€ë¼ëŠ” ê¸°ë²•ì„ í™œìš©í•©ë‹ˆë‹¤.

</br><font style="color:#99CCFF; font-weight : bold; font-size : 25px;">Un-supervised Learning</font>ì˜ ê²½ìš°, ì•Œê³ ë¦¬ì¦˜ì— ì…ë ¥ ë°ì´í„° ì„¸íŠ¸ëŠ” ì œê³µí•˜ì§€ë§Œ </br>íŠ¹ì • ì¶œë ¥ìœ¼ë¡œ ë³´ìƒë˜ê±°ë‚˜ ìµœì í™”ë˜ì§€ëŠ” ì•Šê³ , ê·¸ ëŒ€ì‹  ê³µí†µëœ íŠ¹ì§•ì— ë”°ë¼ ê°œì²´ë¥¼ ê·¸ë£¹ìœ¼ë¡œ ë¬¶ë„ë¡ êµìœ¡í•©ë‹ˆë‹¤. </br>ì˜ˆì»¨ëŒ€ ì˜¨ë¼ì¸ ë§¤ì¥ì˜ ì¶”ì²œ ì—”ì§„ì€ Un-supervised Learning, ê·¸ì¤‘ì—ì„œë„ íŠ¹íˆ í´ëŸ¬ìŠ¤í„°ë§ì´ë¼ëŠ” ê¸°ë²•ì„ ì£¼ë¡œ ì´ìš©í•©ë‹ˆë‹¤.

</br><font style="color:#99CCFF; font-weight : bold; font-size : 25px;">reinforcement learning</font>ì˜ ê²½ìš°, ì•Œê³ ë¦¬ì¦˜ì´ ìˆ˜ë§ì€ ì‹œí–‰ì°©ì˜¤ ì‹¤í—˜ì„ í†µí•´ ìì²´ì ìœ¼ë¡œ í›ˆë ¨í•˜ë„ë¡ ì„¤ì •ë©ë‹ˆë‹¤. </br>ì´ ì•Œê³ ë¦¬ì¦˜ì´ í›ˆë ¨ ë°ì´í„°ì— ì˜ì¡´í•˜ëŠ” ê²ƒì´ ì•„ë‹ˆë¼ ì£¼ë³€ í™˜ê²½ê³¼ ê³„ì† ìƒí˜¸ì‘ìš©ì„ ì£¼ê³ ë°›ì„ ë•Œ ì¼ì–´ë‚©ë‹ˆë‹¤. </br>reinforcement learningì˜ ê°€ì¥ ë³´í¸ì ì¸ ì˜ˆì‹œê°€ ë°”ë¡œ ììœ¨ ì£¼í–‰ì…ë‹ˆë‹¤.



</br>ë¨¸ì‹  ëŸ¬ë‹ ëª¨ë¸ì—ë„ ì—¬ëŸ¬ ê°€ì§€ ì¢…ë¥˜ê°€ ìˆìŠµë‹ˆë‹¤.
</br>
><font style = "font-weight:bold; font-size : 25px">1ï¸âƒ£ Supervised Learning</font>  

- Logistic Regression : ì–´ëŠ ì…ë ¥ì´ íŠ¹ì • ê·¸ë£¹ì— ì†í•˜ëŠ”ì§€ ì•„ë‹Œì§€ íŒë‹¨í•˜ëŠ” ë° ì“°ì…ë‹ˆë‹¤.
- SVM : ì„œí¬íŠ¸ ë²¡í„° ë¨¸ì‹ (Support Vector Machine)ì€ nì°¨ì› ê³µê°„ì—ì„œ ê° ê°œì²´ì˜ ì¢Œí‘œë¥¼ ë§Œë“¤ê³ , ì´ˆí‰ë©´ì„ ì‚¬ìš©í•´ ì—¬ëŸ¬ ê°œì²´ë¥¼ ê³µí†µëœ íŠ¹ì§•ì— ë”°ë¼ ê·¸ë£¹ìœ¼ë¡œ ë¬¶ìŠµë‹ˆë‹¤.
- Naive Bayes: ë³€ìˆ˜ ê°„ì— ë¹„ì¢…ì†ì„±ì´ ì„±ë¦½í•œë‹¤ê³  ê°€ì •í•˜ê³  í™•ë¥ ì„ ì‚¬ìš©í•´ ê¸°ëŠ¥ì— ë”°ë¼ ê°œì²´ë¥¼ ë¶„ë¥˜í•˜ëŠ” ì•Œê³ ë¦¬ì¦˜ì…ë‹ˆë‹¤.
- Decision Tree : ë¶„ë¥˜ìì˜ ì¼ì¢…ìœ¼ë¡œ, íŠ¸ë¦¬ì˜ ìê³¼ ë…¸ë“œë¥¼ íš¡ë‹¨ ì´ë™í•˜ì—¬ ì£¼ì–´ì§„ ì…ë ¥ì´ ì–´ëŠ ì¹´í…Œê³ ë¦¬ì— ì†í•˜ëŠ”ì§€ íŒë‹¨í•˜ëŠ” ë° ì“°ì…ë‹ˆë‹¤.
- linear regression: ê´€ì‹¬ì‚¬ì™€ ì…ë ¥ ë³€ìˆ˜ ì‚¬ì´ì˜ ê´€ê³„ë¥¼ íŒŒì•…í•˜ê³ , ì…ë ¥ ë³€ìˆ˜ ê°’ì— ë”°ë¼ ê·¸ ê°’ì„ ì˜ˆì¸¡í•˜ëŠ” ë° ì“°ì…ë‹ˆë‹¤.
- KNN: k Nearest Neighbors ê¸°ë²•ì€ ê°€ì¥ ê°€ê¹Œìš´ ê°œì²´ë¥¼ í•˜ë‚˜ì˜ ë°ì´í„° ì„¸íŠ¸ë¡œ ê·¸ë£¹í™”í•œ ë‹¤ìŒ ê°œì²´ ì¤‘ì—ì„œ ê°€ì¥ ìì£¼ ë‚˜íƒ€ë‚˜ê±°ë‚˜ í‰ê· ì ì¸ íŠ¹ì§•ì„ ì°¾ì•„ë‚´ëŠ” ê²ƒ ìœ„ì£¼ì…ë‹ˆë‹¤.
- Random Forest : ë¬´ì‘ìœ„ ë°ì´í„° í•˜ìœ„ ì§‘í•©ì—ì„œ ê°€ì ¸ì˜¨ ìˆ˜ë§ì€ ê²°ì • íŠ¸ë¦¬ë¥¼ ëª¨ì€ ì»¬ë ‰ì…˜ì…ë‹ˆë‹¤. ë”°ë¼ì„œ ê²°ì • íŠ¸ë¦¬ í•˜ë‚˜ë§Œ ì‚¬ìš©í•  ë•Œë³´ë‹¤ ì¢€ ë” ì •í™•í•œ ì˜ˆì¸¡ì„ ë‚´ë†“ì„ ìˆ˜ ìˆëŠ” íŠ¸ë¦¬ ì¡°í•©ì´ ìƒê¹ë‹ˆë‹¤.
- Boosting: Gradient Boosting Machine, XGBoostì™€ LightGBM ë“±ì˜ Boostingì€ ì•™ìƒë¸” í•™ìŠµì„ ì‚¬ìš©í•©ë‹ˆë‹¤. ì´ ì•Œê³ ë¦¬ì¦˜ì€ ì—¬ëŸ¬ ì•Œê³ ë¦¬ì¦˜(ì˜ˆ: ê²°ì • íŠ¸ë¦¬)ì—ì„œ ê°€ì ¸ì˜¨ ì˜ˆì¸¡ì„ ì¡°í•©í•˜ë˜, ì´ì „ ì•Œê³ ë¦¬ì¦˜ì—ì„œ ë°œìƒí•œ ì˜¤ë¥˜ë¥¼ ê³ ë ¤í•©ë‹ˆë‹¤.

</br>

><font style = "font-weight:bold; font-size : 25px">2ï¸âƒ£ Un-supervised Learning</font>

- K-Means: ì—¬ëŸ¬ ê°œì²´ì˜ ìœ ì‚¬ìƒì„ ì°¾ì•„ ì´ë¥¼ Kê°œì˜ ì„œë¡œ ë‹¤ë¥¸ í´ëŸ¬ìŠ¤í„°ë¡œ ê·¸ë£¹í™”í•©ë‹ˆë‹¤.
- hierachical clustering: í´ëŸ¬ìŠ¤í„° ìˆ˜ë¥¼ ì§€ì •í•  í•„ìš” ì—†ì´ ì¤‘ì²©ëœ í´ëŸ¬ìŠ¤í„° íŠ¸ë¦¬ë¥¼ êµ¬ì¶•í•©ë‹ˆë‹¤.

## **ì„ í˜• íšŒê·€(Linear Regression)**

Linear RegressionëŠ” ë„ë¦¬ ì‚¬ìš©ë˜ëŠ” ëŒ€í‘œì ì¸ íšŒê·€ ì•Œê³ ë¦¬ì¦˜ì…ë‹ˆë‹¤. </br>ì„ í˜• íšŒê·€ëŠ” ì¢…ì† ë³€ìˆ˜ yì™€ í•˜ë‚˜ ì´ìƒì˜ ë…ë¦½ ë³€ìˆ˜ xì™€ì˜ ì„ í˜• ìƒê´€ê´€ê³„ë¥¼ ëª¨ë¸ë§í•˜ëŠ” ê¸°ë²•ì…ë‹ˆë‹¤. </br>ë§Œì•½, ë…ë¦½ ë³€ìˆ˜ xê°€ 1ê°œë¼ë©´ ë‹¨ìˆœ ì„ í˜• íšŒê·€ë¼ê³  í•˜ê³ , 2ê°œ ì´ìƒì´ë©´ ë‹¤ì¤‘ ì„ í˜• íšŒê·€ë¼ê³  í•©ë‹ˆë‹¤. 

## ë‹¨ìˆœ ì„ í˜• íšŒê·€(Simple Linear Regression)

ë‹¨ìˆœ ì„ í˜• íšŒê·€ëŠ” y=Wx+bì˜ ì‹ìœ¼ë¡œ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤. </br>ë¨¸ì‹ ëŸ¬ë‹ì—ì„œëŠ” ë…ë¦½ ë³€ìˆ˜ xì— ê³±í•´ì§€ëŠ” Wê°’ì„ ê°€ì¤‘ì¹˜(weight), ìƒìˆ˜í•­ì— í•´ë‹¹í•˜ëŠ” bë¥¼ í¸í–¥(bias)ì´ë¼ê³  ë¶€ë¦…ë‹ˆë‹¤. 
</br>ë”°ë¼ì„œ ë‹¨ìˆœ ì„ í˜• íšŒê·€ ëª¨ë¸ì„ í›ˆë ¨í•˜ëŠ” ê²ƒì€ ì ì ˆí•œ Wì™€ bê°’ì„ ì°¾ëŠ” ê²ƒì…ë‹ˆë‹¤. </br>ê·¸ë˜í”„ì˜ í˜•íƒœëŠ” ì§ì„ ìœ¼ë¡œ ë‚˜íƒ€ë‚©ë‹ˆë‹¤. 

## ë‹¤ì¤‘ ì„ í˜• íšŒê·€ (Multiple Linear Regression)

ë‹¤ì¤‘ ì„ í˜• íšŒê·€ëŠ” y=W1x1+W2x2+...+Wnxn+bì˜ ì‹ìœ¼ë¡œ ë‚˜íƒ€ë‚©ë‹ˆë‹¤. </br>ì—¬ëŸ¬ ë…ë¦½ ë³€ìˆ˜ì— ì˜í•´ ì˜í–¥ì„ ë°›ëŠ” ê²½ìš°ì…ë‹ˆë‹¤. 
</br>ë§Œì•½, 2ê°œì˜ ë…ë¦½ ë³€ìˆ˜ë©´ ê·¸ë˜í”„ëŠ” í‰ë©´ìœ¼ë¡œ ë‚˜íƒ€ë‚  ê²ƒì…ë‹ˆë‹¤. 



![image](https://blog.kakaocdn.net/dn/u3yxI/btrh4poccPV/Lhll3ye4VePMDlNxUDcvA1/img.png)
<ì¶œì²˜>https://gngsn.tistory.com/97
</br>ìœ„ì˜ ì„¸ ê·¸ë˜í”„ ì¤‘ ë°ì´í„°ë¥¼ ê°€ì¥ ì˜ ë‚˜íƒ€ë‚¼ ìˆ˜ ìˆëŠ” ì§ì„ ì„ ì°¾ì•„ì•¼ í•©ë‹ˆë‹¤.
ë‘ ë²ˆì§¸ ê·¸ë˜í”„ì˜ ì§ì„ ì´ ë°ì´í„°ë¥¼ ì˜ í‘œí˜„í•¨ì„ ì‰½ê²Œ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤. 

</br>ìš°ë¦¬ëŠ” ì–´ë–¤ ëª¨ë¸ì„ ì‚¬ìš©í•´ì•¼í• ê¹Œìš”?

</br>ë…ë¦½ë³€ìˆ˜ xì—ëŠ” ë‹¤ì–‘í•œ ë°ì´í„°ê°€ ì¡´ì¬í•˜ê¸° ë•Œë¬¸ì— <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">Multiple Linear Regression</font>ì„ ì‚¬ìš©í•˜ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

</br>ë¨¼ì €, <font style = "font-weight:bold;">sklearn ëª¨ë“ˆ</font> ì•ˆì— ìˆëŠ” <font style = "font-weight:bold;">linear_model</font>ì„ import í•©ë‹ˆë‹¤.

In [94]:
from sklearn.linear_model import LinearRegression

ê·¸ ë‹¤ìŒ linear_modelì— ìˆëŠ” LinearRegression ê°ì²´ë¥¼ í˜¸ì¶œ í›„, <font style="color:#99CCFF; font-weight : bold; font-size : 25px;">fit()</font> ë©”ì†Œë“œë¥¼ ì´ìš©í•˜ì—¬ ë°ì´í„°ë¥¼ í•™ìŠµí•©ë‹ˆë‹¤. 

</br>ì²« ë²ˆì§¸ ì¸ìë¡œëŠ” ì…ë ¥ ê°’ list ê°ì²´ë¥¼, </br>ë‘ ë²ˆì§¸ ì¸ìë¡œëŠ” ì¶œë ¥ ê°’ list ê°ì²´ë¥¼ ë„£ìŠµë‹ˆë‹¤. 
</br>ë‹¨, ì…ë ¥ ê°’ ë¦¬ìŠ¤íŠ¸ì— ìˆëŠ” ì›ì†Œë“¤ì˜ ì°¨ì›ì€ ì „ë¶€ ë‹¤ ì¼ì¹˜ í•˜ì—¬ì•¼ í•©ë‹ˆë‹¤.

In [95]:
# ëª¨ë¸ ì„ ì–¸
model = LinearRegression()

### ğŸ”‘**ì°¸ì—¬ ì‹¤ìŠµ**


### *Inst.*  
ëª¨ë¸-ë°ì´í„°ì…‹ì˜ í•™ìŠµ ì§„í–‰






### *Hint.*  
fit()  






### *Solution.*

In [96]:
model.fit(x, y)

LinearRegression()

In [97]:
# ê²°ê³¼ê°’ ì˜ˆì¸¡
predict = model.predict(test)
predict

array([ 8.02121541, 13.88143377,  3.73560119, ...,  0.24860084,
        0.20794025, -0.54396142])

In [98]:
# arrayê°™ì€ ê²½ìš°ëŠ” Numpyì˜ ê°ì²´ì´ê¸° ë•Œë¬¸ì— ë°˜ì˜¬ë¦¼ì„ í•˜ê¸° ìœ„í•´ì„  data.round(n)ì„ ì‚¬ìš©í•˜ë©´ ë©ë‹ˆë‹¤. ì´ë•Œ nì€ ì†Œìˆ˜ì  në²ˆì§¸ ìë¦¬ì…ë‹ˆë‹¤. 
predict = predict.round(0)
predict

array([ 8., 14.,  4., ...,  0.,  0., -1.])

In [99]:
# float type -> int type ë³€í™˜
predict = predict.astype(int)
predict

array([ 8, 14,  4, ...,  0,  0, -1])

In [100]:
# 0ë³´ë‹¤ ì‘ì€ ìˆ˜ë¥¼ 0ìœ¼ë¡œ ë³€í™˜
predict[predict < 0] = 0
predict

array([ 8, 14,  4, ...,  0,  0,  0])

# **4. ì œì¶œíŒŒì¼ ìƒì„±**

ì§€ë‚œ ì‹œê°„ê³¼ ë§ˆì°¬ê°€ì§€ë¡œ submission.csv íŒŒì¼ì— ì œì¶œ íŒŒì¼ì„ ë§Œë“¤ ì˜ˆì •ì…ë‹ˆë‹¤. 

</br> Linear Regression Modelì˜ ì˜ˆì¸¡ê°’ìœ¼ë¡œ submission ì˜ 18~20_ride ê°’ì„ ì±„ì›Œë´…ì‹œë‹¤.

In [101]:
submission['18~20_ride'] = predict
submission['18~20_ride']

id
415423     8
415424    14
415425     4
415426    33
415427     1
          ..
643588     0
643589     0
643590     0
643591     0
643592     0
Name: 18~20_ride, Length: 228170, dtype: int32

ì§€ë‚œ ì‹œê°„ì— ì„¤ëª…ë“œë ¸ë“¯ì´ to_csv ë©”ì†Œë“œëŠ” ë°ì´í„° í”„ë ˆì„ ê°ì²´ì˜ ë‚´ìš©ì„ csv íŒŒì¼ í˜•íƒœë¡œ ë§Œë“¤ì–´ì„œ ì €ì¥í•´ ì£¼ëŠ” ê¸°ëŠ¥ì…ë‹ˆë‹¤.
indexë¥¼ í¬í•¨ì‹œí‚¤ì§€ ì•Šê³  ë°ì´í„°ë¥¼ ì €ì¥í•˜ê¸° ìœ„í•´ì„œëŠ” to_csv(inedx=False)ë¡œ ì§€ì •í•´ì„œ ë°ì´í„°ë¥¼ ì €ì¥í•´ì£¼ë©´ ë©ë‹ˆë‹¤.
</br> ì´ì œ submissioníŒŒì¼ì„ ì €ì¥í•´ë´…ì‹œë‹¤.

In [102]:
submission.to_csv('submission.csv', index=False)